type sysfs_input_suspend, fs_type, sysfs_type;
allow init vendor_overlay_file:dir mounton;
allow init vendor_configs_file:dir mounton;
allow init vendor_file:dir mounton;
allow init socket_device:sock_file create;
allow init sysfs_input_suspend:file setattr;
allow init sysfs_leds:file setattr;
allow init sysfs_batteryinfo:file setattr;
allow init sysfs_devices_block:file setattr;
