type nvram_daemon, domain;
type nvram_daemon_exec, exec_type, file_type;

init_daemon_domain(nvram_daemon)

type persist_data_file, file_type;
allow nvram_daemon proc_cmdline:file read;
allow nvram_daemon metadata_file:dir search;
allow nvram_daemon persist_data_file:dir search;
allow nvram_daemon sysfs_dt_firmware_android:dir search;
