allow vendor_init default_prop:file read;
allow vendor_init radio_prop:file read;
allow vendor_init system_prop:file read;
allow vendor_init ffs_prop:property_service set;
allow vendor_init proc:file write;
allow vendor_init tmpfs:dir write;
