# This file needs to be executed by vendor_init at boot of the device,
# in normal and FM mode.

# Start the HAL service in all modes (FM, meta, normal)
on post-fs && property:ro.boot.hwname=rosemary
    start nfc_hal_service
    setprop ro.vendor.se.type HCE,UICC

# For factory mode, nfcstackp to create the socket as vendor here
on post-fs-data
    mkdir /data/vendor/nfc_socket 0770 nfc nfc
